<div class="container">

    <form action="{{../roast._id}}/jabs/{{jab._id}}?_method=PUT" method="POST">
        <div>
            <label for="">Update this Jab</label>
        </div>
        <div>

            <input class="form-control" type="text" name="jab" id="jab" value="{{jab.content}}">
        </div>
        {{!-- <div>
            <textarea name="content" id="content" cols="40" rows="5" value="{{jab.content}}"></textarea>
        </div> --}}
        <input type="submit" value="Jab!" class="btn btn-danger">
    </form>
</div>