<div class="container">
    
    <form action="/{{roast._id}}/jabs" method="POST">
        <div>
            <label for="">Update this Jab</label>
        </div>
        <div>
            <textarea name="content" id="content" cols="40" rows="5"></textarea>
        </div>
        <input type="submit" value="Jab!" class="btn btn-danger">
    </form>
</div>