<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col text-right">
            <br>
            <br>

        </div>
        <div class="col-8">
            <form action="/{{roast._id}}/jabs" method="POST">
                <div>
                    <label class="text-white" for="content">Keep it going...</label>
                </div>
                <div>
                    <textarea class="form-control" name="content" id="content" cols="20" rows="2"></textarea>
                </div><br>
                <input type="submit" value="Jab!" class="btn btn-warning">
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>