<div class="container">
    
    <form action="/{{roast._id}}/jabs" method="POST">
        <div>
            <label for="">Keep it going...</label>
        </div>
        <div>
            <textarea  class="form-control" name="content" id="content" cols="30" rows="3"></textarea>
        </div>
        <input type="submit" value="Jab!" class="btn btn-danger">
    </form>
</div>