<div class="container">
    
    <form action="/{{user._id}}/roasts" method="POST">
        <div>
            <label for="">Keep it going...{{}}</label>
        </div>
        <div>
            <textarea name="content" id="content" cols="50" rows="5"></textarea>
        </div>
        <input type="submit" value="Jab!" class="btn btn-danger">
    </form>
</div>