<div class="container">
    <h2>{{jab.content}}</h2>
    <form class="delete-form" action="{{jab._id}}?_method=DELETE" method="POST">
        <input class="action-btn btn btn-danger" type="submit" value="DELETE">
    </form><br>
    <a href="/{{../roast._id}}/jabs/{{jab._id}}" class="btn btn-info">UPDATE</a>
</div>