<div class="container">
    <h2>Choose Someone to Roast</h2>
    {{#each users}}
    <div>
        <img src="{{imgLink}}">
    </div>
    <div class="">
        <h4>
            <a href="/{{id}}">{{userName}}</a>
        </h4>
    </div>
    {{/each}}
</div>