<div class="container">
    <a class="btn btn-info" href="/new">Want to be roasted? </a>
    <h2>Click picture to see Roasts</h2>
    {{#each users}}
    <div>
        <a href="/{{id}}">
            <img src="{{imgLink}}">
        </a>
    </div>
    <div class="">
        <h4>
            {{userName}}
        </h4>
        <p> Has {{roasts.length}} Roasts</p>
    </div>
    {{/each}}
</div>