<br>
<br>
<br>
<div class="container text-center">
    <h3 class="text-white">The gloves are off and all insults are fair game.</h3>
    <h3 class="text-white">You can’t get offended because you’re asking for it.</h3>
    <h4 class="text-white">If you are ready to laugh at yourself or hone your roasting skills...</h4>
</div>
<br>
<div class="container text-center">
    <a href="/user" class="btn btn-primary btn-lg">Let's Go!</a>
</div>