<div class="container">
    <h2>Choose user to roast</h2>
    {{#each users}}
    <div>
        <img src="{{imgLink}}">
    </div>
    <div class="col-sm-6">
        <h4>
            <a href="/{{id}}">{{name}}</a>
        </h4>
    </div>
</div>