<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoastMe</title>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<body>
    <header class="banner">
        <div>
            <a href='/'>
                <h1>RoastMe</h1>
            </a>
        </div>
    </header>
    {{{ body }}}
</body>
</html>