#banner { 
    background-color: darkgray;
}
a  {
    text-decoration: none !important;
}
a:hover {
    color: orange !important;
}
#top {
    color: white;
} 
body, html {
    height: 100%;
}
  .bg {
    background-image: url('../images/grill-background-11.jpg');
    background-size: cover;
    min-height: 100%;
}
