<div class="container">
    <form class="" action="/" method="POST">
        <div class="row">
            <div class="col">
                <label for="userName">User Name</label>
                <input class="form-control" type="text" name="userName" id="userName">
            </div>

            <div class="col">
                <label for="imgLink">Image Link</label>
                <input class="form-control" type="text" name="imgLink" id="imgLink">
            </div>
        </div>
        <input class="btn btn-dark" type="submit" value="Submit">
    </form>
</div>