<div class="container">
    <br>
    <br>
    <form class="" action="/" method="POST">
        <div class="row">
            <div class="col">
                <label  class="text-white" for="userName">User Name</label>
                <input class="form-control" type="text" name="userName" id="userName">
            </div>
            <div class="col">
                <label class="text-white" for="imgLink">Image Link</label>
                <input class="form-control" type="text" name="imgLink" id="imgLink">
            </div>
        </div><br>
        <input class="btn btn-warning" type="submit" value="Submit">
    </form>
</div>