<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8">
            <form action="/{{userId}}/roasts/{{roast._id}}?_method=PUT" method="POST">
                <div>
                    <label  class="text-white" for="">Update this Roast</label>
                </div>
                <div>
                    <input class="form-control" type="text" name="content" id="roast" value="{{roast.content}}"><br>
                    <input type="submit" value="UPDATE" class="btn btn-warning">
                </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>