<div class="container">

    <form action="{{userId}}/roasts/{{roast._id}}?_method=PUT" method="POST">
        <div>
            <label for="">Update this Roast</label>
        </div>
        <div>

            <input class="form-control" type="text" name="roast" id="roast" value="{{roast.content}}">
        </div>
        <input type="submit" value="UPDATE" class="btn btn-danger">
    </form>
</div>