<form action="/{{userId}}/roasts" method="POST">
<div>
    <label for="">Do Your Worst...</label>
</div>
<div>
    <textarea name="content" id="content" cols="50" rows="5"></textarea>
</div>
<input type="submit" value="Roast!" class="btn btn-info">
</form>