{{userId}}
<form action="/{{_id.roasts}}" method="POST">
<div>
    <label for="">Do Your Worst</label>
    <textarea name="content" id="content" cols="100" rows="10"></textarea>
</div>
<input type="submit" value="Roast!" class="btn">
</form>